
.dart_tool/package_config_subset
.packages
.dart_tool/package_config.json
.dart_tool/version
.flutter-plugins
.flutter-plugins-dependencies
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_Packages.xml
.idea/libraries/Flutter_Plugins.xml
.idea/vcs.xml
android/.idea/.name
android/.idea/gradle.xml
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_Packages.xml
.idea/libraries/Flutter_Plugins.xml
.idea/vcs.xml
android/.idea/.name
android/.idea/gradle.xml
.idea/libraries/Flutter_Plugins.xml
.idea/vcs.xml
.idea/libraries/Flutter_Plugins.xml
.idea/libraries/Dart_Packages.xml
android/.idea/.name
android/.idea/gradle.xml

# Project exclude paths
/.dart_tool/
/build/